.itemInage {
  width: 200px;
  height: 170px;
  margin-bottom: 5px;
}
.EachList {
  max-width: 350px;
  min-height: 300px;
  padding: 20px;
  margin: 10px;
  border-style: solid;
  border-color: #d8d8d8;
  border-width: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.name1 {
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}
.name {
  margin: 0px;
  padding: 0px;
}
.eachproductDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addingButton {
  color: green;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  padding: 6px 20px;
  background-color: transparent;
}
.name2 {
  color: #808080;
  margin: 0px;
  padding: 0px;
}
.quantityCard1 {
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: green;
  padding: 0px;
}
.addedtocart {
  color: green;
  text-align: center;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
.imageCont {
  display: flex;
  align-items: center;
  justify-content: center;
}
