.tickcontainer {
  border-color: green;
  border-style: solid;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-width: 1px;
  border-radius: 100px;
}
.returnButton {
  border-radius: 8px;
  border-width: 0px;
  color: white;
  background-color: green;
  padding: 7px 15px;
}
.paymenSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.innerPaymentsectiion {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
